.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    min-width: 400px;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}